.form__fieldsContainer{
  display: flex;
  flex-direction: column;
  padding:0 30px;
}

.form__fieldBox{
  width:420px;
  height: 70px;
  margin-bottom:35px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  
} 

.form__input{
  width:50%;
  height: 60%;
  background-color: #e6e5e5;
  border-radius:10px;
  padding: 0 10px;
}

.form__select{
  width:50%;
  height: 60%;
}

.form__button{
  width:50%;
  height: 50px;
}