.card__containerFigure{
  width:600px;
  height: 400px;
  position: relative;
  display: block;
}

.card__caption {
  position: absolute;
  bottom: 0;
  left:15px;
  bottom:15px;
  font-size: 40px;
  color: black;
}

.card__caption  span{
    background-color: #fff;
    display:block;
    padding: 5px;
}