.card__containerFigure{
  max-width:100%;
  height: 400px;
  position: relative;
  display: block;
}

.card__caption {
  position: absolute;
  bottom: 0;
  left:15px;
  bottom:15px;
  font-size: 40px;
  color: black;
}

