:root{
  --font-first: 'Nunito Sans', sans-serif;
  --font-second: 'Bangers', sans-serif;
  --font-thrid: 'Permanent Marker', sans-serif;
  --font-fourth: 'Oleo Script', sans-serif;
  --font-fifth: 'Lobster', sans-serif;
}